[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
flask = "*"
fuzzywuzzy = "*"
"beautifulsoup4" = "*"
python-levenshtein = "*"


[requires]

python_version = "3.6"
